body {
    margin: 1em;
}

header {
    background-color: #FFF0ED;
}

.store-name {
    text-decoration: none; 
    font-size: 5em;
    color: #393939;
}
.store-name:hover {
    color: #ddd;
    text-decoration: underline #ddd ;
}

a .icons:hover {
   background-color: #ddd;
}

.h1-container {
    background-color: #FFF0ED;
}

footer {
    background-color: #FFF0ED;
}

.button {
    background-color: #5BACC3;
    color: white;
    border: none;
    font-size: 1.3em;
    font-weight: 400;
    min-width: 8em;
    max-width: 80%;
    padding: 0.2em;
    margin-bottom: 0%;
}

.button:hover {
    background-color: #ddd;
}

/* promotion content p tag */
#promotion {
    background-color: #393939;
    color: white;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif; 
    margin-top: 0%;
    padding: 0.1em;
    font-size: 3em;
    text-align: center;
    /* margin-right: 300px; */
    min-width: auto;
    max-width: 90%;
}

#promotion-title {
    font-weight: 900;
}

/* .fa {
    color: rgb(82, 86, 89);
    font-size: 60px;
    padding: 0.5em;
} */

.product-image {
    min-height: 15em;
    max-height: 34em ;
}

.product-price {
    color: #5BACC3;
    font-size: 2rem;
    font-weight: 600;
}

span {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif; 
    font-weight: 900;
}

/* coffee beans and social network icons */
#logo-img {
    min-width: 3em;
    max-width: 7.5em;
}

/* https://stackoverflow.com/questions/38437231/icon-flipping-on-hover social network icons animation */
a #logo-img{ 
    margin: 0.1em 0.2em; 
    -webkit-transition: 0.6s ease-out;
    -moz-transition:  0.6s ease-out;
    transition:  0.6s ease-out;
}

a #logo-img:hover {
  -webkit-transform: rotateZ(720deg);
  -moz-transform: rotateZ(720deg);
  transform: rotateZ(720deg);
}

